
<section data-ng-controller="HomeController">
    <div class="page-header">
        <h1>"Ser mejores, para servir mejor a Costa Rica"</h1>
    </div>
    <img src="/modules/core/img/brand/home_page_wo_footer.jpg" alt="Colegio Cientifico" style="width:100%;height:100%;">



    <div class="col-sm-6-cemter">
        <div class="col-sm-6">

            <h1 class="text_type_04">
                Mision
            </h1>
            <span class="text_type_01">
                Los Colegios Científicos de Costa Rica tienen como misión la formación integral de sus estudiantes, considerando los más altos valores costarricenses en el marco de un proceso educativo, con énfasis en la adquisición de conocimientos sólidos y habilidades en los fundamentos de la matemática, la física, la química, la biología y la informática.
            </span>

        </div>
        <div class="col-sm-6">
            <h1 class="text_type_04">
                Visión
            </h1>
                <p>Los colegios científicos de Costa Rica tienen como visión formar una base idónea de jóvenes con conocimientos sólidos en matemática y ciencias exactas, con un alto sentido de responsabilidad ciudadana, capaces de promover y aumentar la actividad científica con sentido ético y moral para un desarrollo ulterior acrecentando la cultura y el bienestar social del país.
                </p>



        </div>
    </div>

    <div id="contact_info">
        <h1 class="text_type_04">Cont&#225ctenos</h1>
        <div class="contact_info_detail">
            <div class="detail"  tabindex="0">
                <span class="text_type_01">Tel: 2475-7089 / 2401-3102</span>
            </div>
            <div class="detail" title="Dirección Postal" tabindex="0">
                <span class="text_type_01">Fax: 2475-5395</span>
            </div>
            <div class="detail" tabindex="0">
                <span class="text_type_01">
                    <a href="mailto:cccrsancarlos@gmail.com">  cccrsancarlos@gmail.com  </a>
                </span>
            </div>
            <div class="detail" tabindex="0">
                <span class="text_type_01">
                <a href="http://ccsancarlos.com">http://ccsancarlos.com</a>
                </span>
            </div>

        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">Colegio Cient&#205fico San Carlos .</p>
            </div>
        </div>

    </div>

</section>

