<section data-ng-controller="HomeController">
    <div class="page-header">
        <h1>"Ser mejores, para servir mejor a Costa Rica"</h1>
    </div>
    <img src="/modules/core/img/brand/home_page_wo_footer.jpg" alt="Colegio Cientifico" style="width:100%;height:100%;">

    <div id="contact_info">
        <h1 class="text_type_04">Cont&#225ctenos</h1>
        <div class="contact_info_detail">
            <div class="detail"  tabindex="0">
                <span class="text_type_01">Tel: 2475-7089 / 2401-3102</span>
            </div>
            <div class="detail" title="Dirección Postal" tabindex="0">
                <span class="text_type_01">Fax: 2475-5395</span>
            </div>
            <div class="detail" tabindex="0">
                <span class="text_type_01">
                    <a href="mailto:cccrsancarlos@gmail.com">  cccrsancarlos@gmail.com  </a>
                </span>
            </div>
            <div class="detail" tabindex="0">
                <span id="oficial_page" class="text_type_01">
                <a href="http://ccsancarlos.com">http://ccsancarlos.com</a>
                </span>
            </div>

        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">Colegio Cient&#205fico San Carlos .</p>
            </div>
        </div>

    </div>

</section>

