<section data-ng-controller="NotasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Notas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="nota in notas" data-ng-href="#!/notas/{{nota._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="nota.created | date:'medium'"></span>
				by
				<span data-ng-bind="nota.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="nota.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!notas.$resolved || notas.length">
    	No Notas yet, why don't you <a href="/#!/notas/create">create one</a>?
    </div>
</section>