<section data-ng-controller="LogrosAcademicosController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar logro académico</h1>
    </div>
    <div class="col-md-12 center-div">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="nombre">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="logrosAcademico.name" id="nombre" class="form-control align-field-barrio" placeholder="Feria científica" required>
                    </div>
                    <label class="control-label" for="descripcion">Descripción</label>
                    <div class="controls">
                        <input type="text" data-ng-model="logrosAcademico.descripcion" id="descripcion" class="form-control align-field-barrio" placeholder="Participación en la feria científica a nivel nacional" required>
                    </div>
                    <label class="control-label" for="premio">Premio</label>
                    <div class="controls">
                        <input type="text" data-ng-model="logrosAcademico.premio" id="premio" class="form-control align-field-barrio" placeholder="Medalla de oro" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary align-field-barrio">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
