<section data-ng-controller="LogrosAcademicosController" data-ng-init="findByEstudiante()">
    <div class="page-header">
        <h1>Logros academicos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="logrosAcademico in logrosAcademicosE" data-ng-href="#!/logros-academicos/{{estudianteID}}/{{logrosAcademicos.estudiante}}/{{logrosAcademico._id}}" class="list-group-item">
			<small class="list-group-item-text">
				<span data-ng-bind="logrosAcademico.created | date:'medium'"></span>
				<span data-ng-bind="logrosAcademico.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="logrosAcademico.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!logrosAcademicos.$resolved || logrosAcademicos.length">
    	No Logros academicos yet, why don't you <a href="/#!/logros-academicos/create">create one</a>?
    </div>
</section>
