.center-div {
    width: 50%;
    height: 65%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.full-width{
    width: 100%;
}

.align-field{
    width: 87%
}

.align-field-barrio{
    width: 71%
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.checkbox.checked {
    border-top: none;
    border-left: none;
    top: 0;
    left: 6px;
    width: 30px;
    height: 30px;
}

.checkbox-container .checkbox {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
}
.transparent-label{
    color: transparent;
}
.error_anno_ingreso_mayor_actual{
    color :indianred;
}

.ngGridNotes{
    margin: 0 auto;
    height: 695px;
    width: 800px;
}

.ngGridNotesSON{
    height: 275px;
    width: 827px;
}

.nota-header{
    padding-top: 5px;
    height: 30px;
    width: 241px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: bold;
    background-color: #eae8e8;
    border: 1px solid #d4d4d4;
}

.nota-decimo-header{
    margin-left: 503px;
}
.nota-noveno-header{
    margin-left: 590px;
    width: 252px;
}

.nota-noveno-view-header{
    margin-left: 575px;
    width: 252px;
}

.nota-promedio-anual-column{
    margin-left: 185px;
    padding-top: 5px;
    height: 30px;
    width: 319px;
    border: 1px solid #d4d4d4;
    background-color: #e6edec;
}

.nota-promedio-anual{
    background-color: #e6edec;
    padding-top: 5px;
    height: 30px;
    width: 241px;
    border: 1px solid #d4d4d4;
}

.grid-align {
    text-align: center;
}

.center-button{
    width: 71%;
    margin: 0 auto;
}
