<section data-ng-controller="CursosController">
    <div class="page-header">
        <h1>New Curso</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre del curso</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Ciencias" required>
                    </div>
                    <label class="control-label" for="name">Cédula del estudiante</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cedulaEstudiante" id="cedulaEstudiante" class="form-control" placeholder="5-754-254" required>
                    </div>
                    <label class="control-label" for="name">Nota del curso</label>
                    <div class="controls">
                        <input type="number" data-ng-model="nota" id="nota" class="form-control" placeholder="95" required>
                    </div>
                    <label class="control-label" for="name">Semestre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="semestre" id="semestre" class="form-control" placeholder="1" required>
                    </div>
                    <label class="control-label" for="name">Año</label>
                    <div class="controls">
                        <input type="text" data-ng-model="year" id="year" class="form-control" placeholder="2005" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>