<section data-ng-controller="CursosController" data-ng-init="findOne()">
    <div class="pull-right" data-ng-show="((authentication.user))">
        <a class="btn btn-primary" href="/#!/cursos/{{curso._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
	<div class="page-header">
        <h1 data-ng-bind="curso.name"></h1>
	</div>
    <div class="page-content">
        <h1 data-ng-bind="curso.cedulaEstudiante"></h1>
    </div>
    <div class="page-content">
        <h1 data-ng-bind="curso.nota"></h1>
    </div>
    <div class="page-content">
        <h1 data-ng-bind="curso.semestre"></h1>
    </div>
    <div class="page-content">
        <h1 data-ng-bind="curso.year"></h1>
    </div>

	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="curso.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="curso.user.displayName"></span>
		</em>
	</small>
</section>
