<section data-ng-controller="EncargadosController">
    <div class="page-header">
        <h1>Agregar un Encargado</h1>
    </div>
    <div class="col-md-12 center-div">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="name">Nombre del encargado</label>
                    </div>
                    <div class="form-group col-xs-4 no-margin-bottom">
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control align-field" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 no-margin-bottom">
                        <div class="controls">
                            <input type="text" data-ng-model="primer_apellido" id="primer_apellido" class="form-control align-field" placeholder="Primer apellido" required>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 no-margin-bottom">
                        <div class="controls">
                            <input type="text" data-ng-model="segundo_apellido" id="segundo_apellido" class="form-control align-field" placeholder="Segundo Apellido" required>
                        </div>
                    </div>
                    <label class="control-label" for="name">Cédula del encargado</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cedula" id="cedula" class="form-control align-field" placeholder="0-0000-0000" required>
                    </div>
                    <label class="control-label" for="name">Parentesco</label>
                    <div class="controls">
                        <select class="form-control align-field" data-ng-model="parentesco" id="parentesco"
                                ng-options="opt as opt.relationship for opt in relationshipStudentList">
                        </select>
                    </div>

                    <label class="control-label" for="name">Ocupación</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ocupacion" id="ocupacion" class="form-control align-field" placeholder="Empresario, Panadero, Profesor..." required>
                    </div>
                    <label class="control-label" for="name">Estado Civil</label>
                    <div class="controls">
                        <input type="text" data-ng-model="estado_civil" id="estado_civil" class="form-control align-field" placeholder="Soltero, Casado, Divorciado..." required>
                    </div>
                    <label class="control-label" for="name">Nacionalidad</label>
                    <div class="controls">
                        <input type="text" data-ng-model="nacionalidad" id="nacionalidad" class="form-control align-field" placeholder="Costarricense, Nicaragüense..." required>
                    </div>
                    <label class="control-label" for="name">Teléfono</label>
                    <div class="controls">
                        <input type="text" data-ng-model="telefono" id="telefono" class="form-control align-field" placeholder="0000-0000" required>
                    </div>
                    <label class="control-label" for="name">Correo electrónico</label>
                    <div class="controls">
                        <input type="text" data-ng-model="correo" id="correo" class="form-control align-field" placeholder="usuario@hotmail.com" required>
                    </div>
                    <label class="control-label" for="name">Dirección</label>
                    <div class="controls">
                        <input type="text" data-ng-model="direccion" id="direccion" class="form-control align-field" placeholder="Alajuela, San Carlos, Santa Rosa de Pocosol, 300 m norte de la entrada principal de Barrio Paraíso" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar encargado" class="btn btn-primary align-field">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
