<section data-ng-controller="EncargadosController">
    <div class="page-header">
        <h1>Agregar un Encargado</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="estudiante">Cédula del estudiante</label>
                    <div class="controls">
                        <input type="text" data-ng-model="estudiante" id="estudiante" class="form-control" placeholder="0-0000-0000" required>
                    </div>
                    <label class="control-label" for="estudiante">Nombre del encargado</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Rodrigo" required>
                    </div>
                    <label class="control-label" for="estudiante">Primer apellido</label>
                    <div class="controls">
                        <input type="text" data-ng-model="primer_apellido" id="primer_apellido" class="form-control" placeholder="Mora" required>
                    </div>
                    <label class="control-label" for="estudiante">Segundo apellido</label>
                    <div class="controls">
                        <input type="text" data-ng-model="segundo_apellido" id="segundo_apellido" class="form-control" placeholder="Porras" required>
                    </div>
                    <label class="control-label" for="estudiante">Cédula del encargado</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cedula" id="cedula" class="form-control" placeholder="0-0000-0000" required>
                    </div>
                    <label class="control-label" for="estudiante">Ocupación</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ocupacion" id="ocupacion" class="form-control" placeholder="Empresario, Panadero, Profesor..." required>
                    </div>
                    <label class="control-label" for="estudiante">Estado Civil</label>
                    <div class="controls">
                        <input type="text" data-ng-model="estado_civil" id="estado_civil" class="form-control" placeholder="Soltero, Casado, Divorciado..." required>
                    </div>
                    <label class="control-label" for="estudiante">Nacionalidad</label>
                    <div class="controls">
                        <input type="text" data-ng-model="nacionalidad" id="nacionalidad" class="form-control" placeholder="Costarricense, Nicaragüense..." required>
                    </div>
                    <label class="control-label" for="estudiante">Teléfono</label>
                    <div class="controls">
                        <input type="text" data-ng-model="telefono" id="telefono" class="form-control" placeholder="0000-0000" required>
                    </div>
                    <label class="control-label" for="estudiante">Correo electrónico</label>
                    <div class="controls">
                        <input type="text" data-ng-model="correo" id="correo" class="form-control" placeholder="usuario@hotmail.com" required>
                    </div>
                    <label class="control-label" for="estudiante">Dirección</label>
                    <div class="controls">
                        <input type="text" data-ng-model="direccion" id="direccion" class="form-control" placeholder="Alajuela, San Carlos, Santa Rosa de Pocosol, 300 m norte de la entrada principal de Barrio Paraíso" required>
                    </div>
                    <label class="control-label" for="name">Es quien autoriza el ingreso</label>
                    <div class="controls">
                        <select class="form-control" data-ng-model="eleccion" id="eleccion"
                                ng-options="opt as opt.opcion for opt in opciones">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>