<section data-ng-controller="EncargadosController" data-ng-init="findByEstudiante()">
    <div class="page-header">
        <h1>Encargados</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="encargado in encargadosE" ng-href="/#!/encargados/{{estudianteID}}/{{encargado.estudiante}}/{{encargado._id}}" class="list-group-item">
			<small class="list-group-item-text">
				<span data-ng-bind="encargado.created | date:'medium'"></span>
				<span data-ng-bind="encargado.user.displayName"></span>
    			</small>

			<h4 class="list-group-item-heading" data-ng-bind="encargado.name  +' '+ encargado.primer_apellido + ' '+encargado.segundo_apellido"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="encargado.cedula"></h4>
        </a>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!encargados.$resolved || encargados.length">
    	<h4> Aún no hay encargados para este estudiante </h4>
    </div>
</section>
