<section data-ng-controller="FunctionariesController">
    <div class="page-header">
        <h1>Nuevo funcionario</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">

                    <label class="control-label" for="firstname">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="firstName" id="firstname" class="form-control" required>
                    </div>

                    <label class="control-label" for="firstsurname">Primer apellido</label>
                    <div class="controls">
                        <input type="text" data-ng-model="firstSurname" id="firstsurname" class="form-control" required>
                    </div>

                    <label class="control-label" for="secondsurname">Segundo apellido</label>
                    <div class="controls">
                        <input type="text" data-ng-model="secondsurname" id="secondsurname" class="form-control" required>
                    </div>

                    <label class="control-label" for="identification">Cedula</label>
                    <div class="controls">
                        <input type="text" data-ng-model="identification" id="identification" class="form-control" required>
                    </div>

                    <label class="control-label" for="maritalstatus">Estado Civil</label>
                    <div class="controls">
                        <input type="text" data-ng-model="maritalStatus" id="maritalstatus" class="form-control" required>
                    </div>

                    <label class="control-label" for="birthdate">Fecha de nacimiento</label>
                    <div class="controls">
                        <input type="date" data-ng-model="birthdate" id="birthdate" class="form-control" required>
                    </div>

                    <label class="control-label" for="address">Direccion</label>
                    <div class="controls">
                        <input type="text" data-ng-model="address" id="address" class="form-control" required>
                    </div>

                    <label class="control-label" for="cellphonenumber">Celular</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cellphoneNumber" id="cellphonenumber" class="form-control" required>
                    </div>

                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="email" data-ng-model="email" id="email" class="form-control" required>
                    </div>

                    <label class="control-label" for="hiredate">Fecha de contratacion</label>
                    <div class="controls">
                        <input type="date" data-ng-model="hireDate" id="hiredate" class="form-control" required>
                    </div>
                </div>





            <div class="form-group">

                <h2>Educacion</h2>


                <label class="control-label" for="school">Universidad</label>
                <div class="controls">
                    <input type="text" data-ng-model="school" id="school" class="form-control" required>
                </div>

                <label class="control-label" for="description">Descripcion</label>
                <div class="controls">
                    <input type="text" data-ng-model="description" id="description" class="form-control" required>
                </div>

                <label class="control-label" for="degree">Grado</label>
                <div class="controls">
                    <input type="text" data-ng-model="degree" id="degree" class="form-control" required>
                </div>

                <label class="control-label" for="attendedstartdate">Fecha de inicio</label>
                <div class="controls">
                    <input type="date" data-ng-model="attendedStartDate" id="attendedstartdate" class="form-control" required>
                </div>

                <label class="control-label" for="attendedenddate">Fecha de graduacion</label>
                <div class="controls">
                    <input type="date" data-ng-model="attendedEndDate" id="attendedenddate" class="form-control" required>
                </div>

            </div>



            <div class="form-group">

                <h2>Experiencia</h2>


                <label class="control-label" for="companyname">Compañia</label>
                <div class="controls">
                    <input type="text" data-ng-model="companyName" id="companyname" class="form-control" required>
                </div>

                <label class="control-label" for="description">Descripcion</label>
                <div class="controls">
                    <input type="text" data-ng-model="description" id="description" class="form-control" required>
                </div>

                <label class="control-label" for="degree">Grado</label>
                <div class="controls">
                    <input type="text" data-ng-model="degree" id="degree" class="form-control" required>
                </div>

                <div class="controls">
                    <label class="control-label" for="startDate">Fecha de inicio</label>
                    <input type="number" ng-model="testData.realDate" min=""/>
                </div>

                <label class="control-label" for="attendedenddate">Fecha de graduacion</label>
                <div class="controls">
                    <input type="date" data-ng-model="attendedEndDate" id="attendedenddate" class="form-control" required>
                </div>

            </div>

                <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-lg btn-success">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
            </fieldset>
        </form>
    </div>
</section>
