<section data-ng-controller="EstudiantesController" ng-init="init_generaciones()">
    <form class="form-horizontal" novalidate>
        <br>
        <br>
        <div class="controls">
            <select class="form-control" data-ng-model="consulta" id="consulta"
                    ng-options="opt as opt.nombre for opt in consultas">
            </select>
            <br>
        </div>
        <div class="controls">
            <input type="text" ng-model="filteringText" class="form-control" placeholder="Generación o Número de Cédula o Colegio de Procedencia"/>
            {{filteringText}}
        </div>
        <br>
        <br>
        <div>
            <div class="gridStyleList" ng-grid="gridOptionsGeneracion"></div>
        </div>
    </form>
</section>