<section data-ng-controller="EstudiantesController" data-ng-init="initNotas()">
    <div class="page-header">
        <h1>Agregar expediente</h1>
    </div>
    <!--action="http://localhost:3000/upload" method="post" enctype="multipart/form-data"-->
    <div class="col-xs-12 center-div">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <div class="form-group col-xs-4 no-margin-bottom">
                        <label class="control-label" for="name">Nombre del estudiante</label>
                        <div class="controls ">
                            <input type="text" data-ng-model="name" id="name" class="form-control align-field" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 no-margin-bottom">
                        <label class="control-label" for="name">Primer Apellido</label>
                        <div class="controls">
                            <input type="text" data-ng-model="primer_apellido" id="primer_apellido" class="form-control align-field" placeholder="Primer apellido" required>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 no-margin-bottom">
                        <label class="control-label" for="name">Segundo Apellido</label>
                        <div class="controls">
                            <input type="text" data-ng-model="segundo_apellido" id="segundo_apellido" class="form-control  align-field" placeholder="Segundo apellido" required>
                        </div>
                    </div>
                    <div class="">
                        <label class="control-label" for="name">Fecha de nacimiento</label>
                        <div class="controls">
                            <input type="date" data-ng-model="fecha_de_nacimiento" id="fecha_de_nacimiento" class="form-control  align-field"  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" title="Formato: dd-mm-yyyy" placeholder="Fecha de nacimiento" required>
                        </div>
                    </div>
                    <label class="control-label" for="name">Cédula o número de pasaporte</label>
                    <div class="controls">
                        <input type="text" data-ng-model="nacionalidad" id="nacionalidad" class="form-control  align-field" placeholder="Cédula o numero de pasaporte" title="Formato: 0-0000-0000" pattern="[0-9]{1}-[0-9]{4}-[0-9]{4}" required>
                    </div>
                    <label class="control-label" for="name">Sexo</label>
                    <div class="controls">
                        <select class="form-control align-field" data-ng-model="sexo" id="sexo"
                                ng-options="opt as opt.nombre for opt in sexos">
                        </select>
                    </div>
                    <div class="controls">
                        <div class="form-group col-xs-6 no-margin-bottom">
                            <label class="control-label" for="name">Telefono Hogar</label>
                            <div class="controls">
                                <input type="text" data-ng-model="telefono_casa" id="telefono_casa" class="form-control align-field" placeholder="Telefono Hogar" pattern="[0-9]{4}-[0-9]{4}" title="Formato: 0000-0000" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 no-margin-bottom">
                            <label class="control-label" for="name">Celular</label>
                            <div class="controls">
                                <input type="text" data-ng-model="celular" id="celular" class="form-control align-field" placeholder="Celular" pattern="[0-9]{4}-[0-9]{4}" title="Formato: 0000-0000" required>
                            </div>
                        </div>
                    </div>

                    <label class="control-label" for="name">Correo electronico</label>
                    <div class="controls">
                        <input type="email" data-ng-model="correo" id="correo" class="form-control align-field" placeholder="Correo" required>
                    </div>
                    <div class="form-group col-xs-3 no-margin-bottom">
                        <label class="control-label" for="name">Provincia</label>
                        <div class="controls">
                            <select class="form-control align-field" data-ng-model="provincia" id="provincia" ng-change="provincia_change()"
                                    ng-options="opt as opt.nombre for opt in options">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-3 no-margin-bottom">
                        <label class="control-label" for="name">Cantón</label>
                        <div class="controls">
                            <select class="form-control align-field" data-ng-model="canton" id="canton" ng-disabled="!provincia" ng-change="canton_change()"
                                    ng-options="opt as opt.nombre for opt in provincia.cantones">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-3 no-margin-bottom">
                        <label class="control-label" for="name">Distrito</label>
                        <div class="controls">
                            <select class="form-control align-field" data-ng-model="distrito" id="distrito" ng-disabled="!canton"
                                    ng-options="opt as opt.nombre for opt in canton.distritos">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 no-margin-bottom">
                        <label class="control-label" for="name">Barrio</label>
                        <div class="controls">
                            <input type="text" data-ng-model="barrio" id="barrio" class="form-control align-field-barrio" placeholder="Barrio" required>
                        </div>
                    </div>
                    <div class = "">
                        <label class="control-label" for="name">Dirección exacta</label>
                        <div class="controls">
                            <input type="text" data-ng-model="direccion_exacta" id="direccion_exacta" class="form-control align-field" placeholder="Dirección exacta" required>
                        </div>
                    </div>
                    <label class="control-label" for="name">Colegio de procedencia</label>
                    <div class="controls">
                        <input type="text" data-ng-model="colegio_procedencia" id="colegio_procedencia" class="form-control align-field" placeholder="Colegio de procedencia" required>
                    </div>
                    <label class="control-label" for="name">Adecuación significativa</label>
                    <div class="controls">
                        <select class="form-control align-field" data-ng-model="adSignificativa" id="adecuacion_significativa"
                                ng-options="opt as opt.nombre for opt in adecuaciones">
                        </select>
                    </div>
                    <label class="control-label" for="name">Adecuación no significativa</label>
                    <div class="controls">
                        <select class="form-control align-field" data-ng-model="adNoSignificativa" id="adecuacion_nsignificativa"
                                ng-options="opt as opt.nombre for opt in adecuaciones">
                        </select>
                    </div>
                    <div class="controls">
                        <label class="control-label" for="name">Generación</label>
                        <input type="text" data-ng-model="generacion" id="generacion" class="form-control align-field" placeholder="Generación" pattern="[0-9]{4}" title="Formato: 0000" required>
                    </div>
                    <div class="controls">
                       <label class="control-label" for="name">Foto del estudiante</label>
                       <input name="filefield" type="file" ng-file-select ng-file-change="onFileSelect($files)">
                    </div>
                    <div class="controls align-field">
                        <label class="control-label" for="name">Notas de septimo</label>
                        <div class="gridStyle" ng-grid="gridOptionsS"></div>
                    </div>
                    <div class="controls align-field">
                        <label class="control-label" for="name">Notas de octavo</label>
                        <div class="gridStyle" ng-grid="gridOptionsO"></div>
                    </div>
                    <div class="controls align-field">
                        <label class="control-label" for="name">Notas de noveno</label>
                        <div class="gridStyle" ng-grid="gridOptionsN"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear estudiante" class="btn btn-primary align-field">
                </div>
                <div data-ng-show="error" class="alert alert-danger" role="alert" data-ng-bind="error">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </div>
            </fieldset>
        </form>
    </div>
</section>
