<section data-ng-controller="EstudiantesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Estudiante</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="estudiante.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Primer Apellido</label>
                    <div class="controls">
                        <input type="text" data-ng-model="estudiante.primer_apellido" id="primer_apellido" class="form-control" placeholder="Primer apellido" required>
                    </div>
                    <label class="control-label" for="name">Segundo Apellido</label>
                    <div class="controls">
                        <input type="text" data-ng-model="estudiante.segundo_apellido" id="segundo_apellido" class="form-control" placeholder="Segundo apellido" required>
                    </div>
                    <label class="control-label" for="name">Fecha de nacimiento</label>
                    <div class="controls">
                        <input type="text" data-ng-model="estudiante.fecha_de_nacimiento" id="fecha_de_nacimiento" class="form-control" placeholder="Fecha de nacimiento" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>