<section data-ng-controller="EstudiantesController" data-ng-init="notes_c_c()">
    <form class="form-horizontal" novalidate>
        <div>
            <label class="control-label">Notas de décimo</label>
            <div class="gridStyle" ng-grid="gridOptionsD"></div>
        </div>
        <div>
            <label class="control-label">Notas de undécimo</label>
            <div class="gridStyle" ng-grid="gridOptionsU"></div>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="Asignar notas" class="btn btn-primary btn-block" ng-click="asignar_notas()">
        </div>
    </form>
</section>
