<section data-ng-controller="EstudiantesController" data-ng-init="get_all_students()">
    <div class="page-header">
        <h1>Reportes de estudiantes de décimo y undécimo</h1>
    </div>
    <form class="form-horizontal" data-ng-submit="generar_reporte()" novalidate="true">
        <div class="controls">
            <select class="form-control" data-ng-model="reporte" id="reporte"
                    ng-options="opt as opt.nombre for opt in lista_reportes">
            </select>
        </div>
        <br/>
        <div class="alert alert-danger" id = "notEnoughStudentsError" role="alert" ng-show="errorDisplayed">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            No existen suficientes estudiantes para generar el reporte
        </div>
        <br/>
        <br/>
        <div>
            <input type="text" data-ng-model="ced_estudiante" id="ced" class="form-control" placeholder="Cédula de estudiante" title="Formato: 0-0000-0000" pattern="[0-9]{1}-[0-9]{4}-[0-9]{4}" ng-show="visibl" required>
        </div>
        <br/>
        <br/>
        <iframe width="100%" height="400px" src="{{base64}}" ng-show="show"></iframe>
        <br/>
        <br/>

        <div class="form-group">
            <input type="submit" value="Generar reporte" class="btn btn-primary full-width">
        </div>
    </form>
</section>
