<section data-ng-controller="EstudiantesController">
    <div class="page-header">
        <h1>Reportes de estudiantes de décimo y undécimo</h1>
    </div>
    <form class="form-horizontal" data-ng-submit="reporte_estudiantes_decimo()">
        <label class="control-label" >Nombre del archivo, para el reporte de nodas de décimo</label>
        <div class="controls">
            <input type="text" data-ng-model="nombre_reporte_notas_decimo" id="decimo" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Generar reporte" class="btn btn-default">
        </div>
    </form>
    <form class="form-horizontal" data-ng-submit="reporte_estudiantes_undecimo()">
        <label class="control-label" >Nombre del archivo, para el reporte de nodas de undécimo</label>
        <div class="controls">
            <input type="text" data-ng-model="nombre_reporte_notas_undecimo" id="undecimo" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Generar reporte" class="btn btn-default">
        </div>
    </form>
    <div class="page-header">
        <h1>Reporter de notas de un estudiante</h1>
    </div>
    <form class="form-horizontal" data-ng-submit="reporte_notas()">
        <label class="control-label">Cédula o número de pasaporte</label>
        <div class="controls">
            <input type="text" data-ng-model="id_estudiante" id="nacionalidad" class="form-control" placeholder="Cédula o numero de pasaporte" title="Formato: 0-0000-0000" pattern="[0-9]{1}-[0-9]{4}-[0-9]{4}" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Generar reporte" class="btn btn-default">
        </div>
    </form>
</section>