<section data-ng-controller="EstudiantesController" data-ng-init="findOne(false)">
    <div class="page-header">
        <h1>{{estudiante.name + ' ' + estudiante.primer_apellido + ' ' + estudiante.segundo_apellido}}</h1>
    </div>
	<div class="pull-right" data-ng-show="(authentication.user)">
		<a class="btn btn-primary" href="/#!/estudiantes/{{estudiante._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <img ng-src="{{estudiante.foto}}" height="200px"/>
        </div>
        <div class="col-md-4">
            <br/>
            <br/>
            <h4 class="list-group-item-heading">{{'Cédula: '+estudiante.nacionalidad}}</h4>
            <h4 class="list-group-item-heading">{{'Fecha de nacimiento: '+estudiante.fecha_de_nacimiento}}</h4>
            <h4 class="list-group-item-heading">{{'Sexo: '+sexo.nombre}}</h4>
            <h4 class="list-group-item-heading">{{'Teléfono: '+estudiante.telefono_casa}}</h4>
            <h4 class="list-group-item-heading">{{'Celular: '+estudiante.celular}}</h4>
            <h4 class="list-group-item-heading">{{'Correo: '+estudiante.correo}}</h4>
        </div>
        <div class="col-md-4">
            <br/>
            <br/>
            <h4 class="list-group-item-heading">{{'Provincia: '+estudiante.provincia}}</h4>
            <h4 class="list-group-item-heading">{{'Cantón: '+estudiante.canton}}</h4>
            <h4 class="list-group-item-heading">{{'Distrío: '+estudiante.distrito}}</h4>
            <h4 class="list-group-item-heading">{{'Barrio: '+estudiante.barrio}}</h4>
            <h4 class="list-group-item-heading">{{'Dirección exacta: '+estudiante.direccion_exacta}}</h4>
            <h4 class="list-group-item-heading">{{'Colegio de procedencia: '+estudiante.colegio_procedencia}}</h4>
        </div>
    </div>
    <br/>
    <br/>
    <div>
        <div class="center-button">
            <label class="control-label">Notas del estudiante</label>
            <div class="gridStyle" ng-grid="gridOptionsSON"></div>
            <br/>
        </div>
        <div class="form-group row">
            <div class="col-md-11" style="float: none; margin: 0 auto;">
                <a href="/#!/encargados/create/{{estudiante._id}}/{{estudiante.nacionalidad}}"><input type="button" value="Asignar encargados" ng-show="estudiante.admitido" class="btn btn-primary" href=""></a>
                <a href="/#!/encargados/{{estudiante._id}}/{{estudiante.nacionalidad}}"><input type="button" value="Mostrar encargados" ng-show="estudiante.admitido" class="btn btn-primary" href=""></a>
                <a href="/#!/estudiantes/{{estudiante._id}}/archivosadjuntos"><input type="button" value="Asignar datos adicionales" ng-show="estudiante.admitido" class="btn btn-primary" ></a>
                <a href="/#!/estudiantes/{{estudiante._id}}/notas_c_c"><input type="button" value="Asignar notas" ng-show="estudiante.admitido" class="btn btn-primary"></a>
                <a href="/#!/logros-academicos/create/{{estudiante._id}}/{{estudiante.nacionalidad}}"><input type="button" value="Asignar Logro Académico" ng-show="estudiante.admitido" class="btn btn-primary" href=""></a>
                <a href="/#!/logros-academicos/{{estudiante._id}}/{{estudiante.nacionalidad}}"><input type="button" value="Mostrar Logros Académicos" ng-show="estudiante.admitido" class="btn btn-primary" href=""></a>
            </div>
        </div>
    </div>
</section>
